/* Header.css */

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-link {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.login {
  display: flex;
  align-items: center;
}

.login form {
  display: flex;
  margin-right: 10px;
}

.login input[type="text"],
.login input[type="password"] {
  padding: 6px;
  border-radius: 4px;
  border: none;
  gap: 2rem;
}

.login-btn {
  padding: 6px 10px;
  float: right;
  margin-right: -290px;
  border-radius: 4px;
  border: none;
  background-color: #f44336;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.signup-btn {
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  background-color: #f44336;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
